<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Fair Company</h1>
    </header>
	
	
	 <!-- /.row -->
		<div class="col-24px-20">
			<h2> Fair Company is website dedicated to bringing awareness and transparency to human trafficking. We utilize a
			rating system to rank companies based on their ehtical practices and allow the customer to make educated
			choices about the corporations they want to support.</h2>
		</div>

    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-20">
            <h3>Latest Features</h3>
        </div>
    </div>
   

 

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
